.timeSelectBoxes__button {
  width: 5.94rem;
  height: 3.38rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--secondary3);
  font-weight: 500;
  font-size: 1rem;
}

.timeSelectBoxes__button:hover {
  cursor: pointer;
}

.timeSelectBoxes__button--selected {
  background-color: var(--primary2);
}