.dishCard {
  position: relative;
  width: min(100%, 18.5rem);
  height: 29rem;
  border-radius: 1rem;
  background-color: var(--secondary3);
}

.dishCard:hover {
  cursor: pointer;
}

.dishCard__picture {
  max-width: 100%;
  /* height: 10.5rem; */
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.dishCard__details {
  display: flex;
  margin: 1.5rem 2rem 0;
  justify-content: space-between;
}

.dishCard__title {
  font-size: 1.13rem;
  font-weight: 700;
}

.dishCard__price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary1);
}

.dishCard__description {
  margin: 1.31rem 2rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary1);
}

.dishCard__callToAction {
  position: absolute;
  bottom: 1.75rem;
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 60rem) {
  .dishCard {
    width: min(100%, 44rem);
    display: flex;
    height: auto;
  }

  .dishCard__picture {
    width: 8rem;
    border-radius: 1rem 0 0 1rem;
  }

  .dishCard__callToAction {
    position: relative;
    bottom: 0;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 47rem) {
  
}