.footer {
  background-color: var(--primary1);
  padding-top: 3.44rem;
  padding-bottom: 2.74rem;
}

.footer__content {
  width: min(90%, 60rem);
  color: white;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  column-gap: 1.25rem;
}

.footer__heading {
  margin-bottom: 0.31rem;
  font-size: 1.13rem;
  font-weight: 700;
  color: var(--primary2);
}

.footer__list {
  line-height: 1.56rem;
}

.footer__icon {
  height: 0.88rem;
  margin-right: 0.5rem;
  translate: 0 0.13rem;
}

.footer__link:active {
  color: var(--secondary2);
}

@media screen and (max-width: 47rem) {
  .footer__content {
    width: 100%;
  }
}

@media screen and (max-width: 36rem) {
  .footer__content {
    width: 90%;
    display: block;
  }

  .footer__column {
    padding-bottom: 2rem;
  }
}