.form__container {
  width: min(90%, 60rem);
  margin: 0 auto;
  overflow: hidden;
}

.form__prevButton {
  border: 0.25rem solid var(--primary1);
  background-color: white;
  color: var(--primary1);
}

.form__nextButton {
  border: none;
  background-color: var(--primary2);
}

.form__buttonGroup {
  margin-top: 3.38rem;
  margin-bottom: 3.75rem;
  display: flex;
  gap: 1.25rem;
}
