.header {
  padding-top: 2rem;
  background-color: var(--primary1);
}

.header__heading {
  color: var(--primary2);
  font-family: Markazi Text, serif;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.header__content {
  width: min(90%, 60rem);
  margin: 0 auto;
}