.hero {
  background-color: var(--primary1);
  height: 25rem;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  width: min(90%, 60rem);
  margin: 0 auto;
}

.hero__textColumn {
  margin: 0 3rem;
}

.hero__button {
  margin-top: 1.69rem;
  background-color: var(--primary2);
  width: 13.13rem;
  height: 3.38rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.13rem;
  border: none;
}

.hero__buton:hover {
  cursor: pointer;
}

.hero__title {
  margin-top: 1.50rem;
  font-family: Markazi Text, serif;
  font-size: 4rem;
  font-weight: 500;
  color: var(--primary2);
}

.hero__subTitle {
  margin-top: -1rem;
  font-family: Markazi Text, serif;
  font-size: 2.50rem;
  font-weight: 400;
  color: white;
}

.hero__text {
  margin-top: 1rem;
  width: min(16rem, 80%);
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: white;
}

.hero__image {
  translate: 0 1.5rem;
  height: 27rem;
  border-radius: 1rem;
  object-fit: scale-down;

}


@media screen and (max-width: 60rem) {
  .hero__image {
    width: 18rem;
    height: 22rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 47rem) {
  .hero {
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subTitle {
    font-size: 2rem;
  }

  .hero__content {
    display: block;
  }

  .hero__textColumn {
    margin: 0;
  }

  .hero__text {
    width: min(100%, 28rem);
  }

  .hero__image {
    display: none;
  }
}