.nav {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.nav__list {
  display: flex;
  width: min(90%, 60rem);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.13rem;
}

.nav__textLink {
  color: black;
}

.nav__textLink:active {
  color: var(--secondary1);
}

.nav__logo {
  height: 2.75rem;
  display: block;
}

.link {
  display: inline;
}

.nav__logo:hover, nav__link:hover {
  cursor: pointer;
}