.specials {
  height: 37.5rem;
  background-color: white;
}

.specials__container {
  width: min(90%, 60rem);
  margin: 0 auto;
}

.specials__top {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials__heading {
  font-family: Markazi Text, serif;
  font-weight: 400;
  font-size: 4rem;
}

.specials__menu {
  background-color: var(--primary2);
  border: none;
}

.specials__cards {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: min(1.88rem);
}

@media screen and (max-width: 60rem) {
  .specials {
    height: auto;
    margin-bottom: 2rem;
  }

  .specials__cards {
    flex-direction: column;
    align-items: center;
  }
}