@import url("https://fonts.googleapis.com/css?family=Karla:400,500,700|Markazi+Text:400");

body {
  background-color: white;
  font-family: Karla, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* .page__content {
  width: min(85%, 1100px);
  margin: 0 auto;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
